#root {
  text-align: center;  
}



h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
.text{
  transition: opacity 1s;
}
.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 7rem;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.header{
  position: absolute;
}

.tagline{
  color: #747474;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2.5rem;
  text-align: center;
  transition: transform 1s;
}

.replace-tagline{
  transform: translateY(-150px);
}

.heading{
  display: flex;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
  transition: opacity 0.5s ease-in-out;
}

.first-heading{
  width: 470px;
}

.controller-div{
  transition: transform 1s;
  cursor: pointer;
  transform: translateY(-10%);
  z-index: 99;
  
}
.second-page{
  display: none;
  transition: opacity 1s;
}
.show{
  display: block;
  opacity: 1;
}
.controller-shift-up{
  transform:translateY(-34%);
  transition: transform 1s;
}

.controller-shift-in{
  transform: scale(0.7,0.7);
}
.remove-text{
  opacity: 0;
}

.page-number{
  z-index: 99;
  position: absolute;
  right: 10%;
  top: 550px;
}

.page-number p{
  font-size: 24px;
  color: #0429AD;
  font-weight: 700;
}

.discover-button{
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #0429AD;
  cursor: pointer;
  z-index: 99;
}


.right-div{
  position: absolute;
  width: 300px;
  height: 800px;
  right: 0;
  top: 0px;

  background: #FFFFFF;
  opacity: 0.23;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 400px;
  transition: transform 1s ;

}


.left-div{
  position: absolute;
  width: 300px;
  height: 800px;
  left: 0;
  top: 0px;
  background: #FFFFFF;
  opacity: 0.23;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 400px 0px;
  transition: transform 1s;

}

.side-div{
  transform: translateY(-65%);
}

.dots-div{
  position: absolute;
  top: 400px;
  left: 160px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
 
}

.dot{
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #ffff;;
  transition: border 1s;
  cursor: pointer;
}

.bordered-dot{
  border: 3px solid #0429AD;
}

.features{
  width: 65%;
  position: absolute;
  top: 350px;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  transition: opacity 1s;
}

.feature-div{
  left: -10px;
}

.right, .left{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.fade-features{
  opacity: 0;
}

.feature-box{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.dots-first{
  position: absolute;
  left: -5%;
  top: 394px;
}

.dots-second{
  position: absolute;
  left: 368px;
  top: 130px;
}

.dots-third{
  position: absolute;
  left: 908px;
  top: 262px;
  transition: transform 1s;
}

.dots-fourth{
  position: absolute;
  right: 0;
  top: 167px;
}



.dots-transform{
  transform: translate(90%,70%);
}

.shape{
  transition: opacity 1s;
}

.shape-fade{
  opacity: 0;
}

.shapes-right-1{
  position: absolute;
  right: 20%;
  top: 228.21px;
  transform: rotate(135deg);
}
.shapes-right-2{
  position: absolute;
  right: 10%;
  top: 400px;
  transform: rotate(180deg);
}
.shapes-right-3{
  position: absolute;
  right: 7%;
  top: 550px;
}
.shapes-right-4{
  position: absolute;
  right: 5%;
  top: 650px;


}

.shape-left{
  transition: transform 1s;
}

.shape-transform{
  transform: translateX(-500px);
}

.shapes-left-1{
  position: absolute;
  left: 174px;
  top: 140px;
}
.shapes-left-2{
  position: absolute;
  left: 266px;
  top: 307.27px;
}
.shapes-left-3{
  position: absolute;
  left: 250px;
  top: 531px;
}
.shapes-left-4{
  position: absolute;
  left: 241.79px;
  top: 789px;
}

@media (max-width:1440px) {
  .main-section{
    margin-top: 10rem;
  }
  .dots-fourth{
    right: 0;
  }
}
@media (max-width:1024px) {
  .controller-shift-in{
    transform: scale(0.4,0.4);
  }
  .main-section{
    margin-top: 12rem;
  }

  .dots-fourth{
    display: none;
  }
  .dots-third{
    display: none;
  }

  .right-div{
    width:200px
  }
  .left-div{
    width:200px
  }
  .features{
    width:70%
  }

  .page-number{
    right: 5%;
  }
}

@media (max-width:768px){
  .heading{
    font-size: 40px;
  }

  .tagline{
    font-size: 20px;
  }
  .right-div{
    width:100px
  }
  .left-div{
    width:100px
  }
  .dots-div{
    display: none;
  }
  .controller-div{
    width: 80%;
  }
  .controller-shift-in{
    transform: scale(0.7,0.7);
  }

  .main-section{
    margin-top: 2rem;
  }
  .tagline{
    margin-bottom: 0;
  }
  .features{
    width:75%;
    top: 250px;
  }

  .page-number{
    top: 100%;
  }
}

@media (max-width:425px){
  .main-section{
    margin-top: 0;
  }
  .tagline{
    font-size: 15px;
    width: 70%;
    margin: 1rem 0;
  }
  /* .heading{
    font-size: 20px;
    width: 100vh;
    text-align: center;
  } */

  .heading{
    font-size: 20px;
    width: 40%;
    text-align: center;
  }
  .dots-second{
    display: none;
  }
  .dots-third{
    display: none;
  }
  .dots-fourth{
    display: none;
  }

  .page-number{
    display: none;
  }
  .right-div{
    display: none;
  }
  .left-div{
    display: none;
  }

  .shape{
    display: none;
  }

  .shape-left{
    display: none;
  }

  .features{
    width:70%;
    top: 330px;
  }
  .discover-button{
    font-size: 12px;
  }

  .features{
    top: 300px;
  }
}